<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.androidapp" >

    <!-- 授权访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".page.Page_Main"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".page.Page_Registered"
            android:label="@string/title_activity_registered" >
        </activity>
        <activity
            android:name=".page.Page_Total"
            android:label="@string/title_activity_total" >
        </activity>
        <activity
            android:name=".page.Page_Manager"
            android:label="@string/title_activity_user_manager" >
        </activity>
        <activity
            android:name=".page.Page_Information"
            android:label="@string/title_activity_user_information" >
        </activity>
        <activity
            android:name=".page.Page_Organize"
            android:label="@string/title_activity_page__organize" >
        </activity>
    </application>

</manifest>
